<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Accueil</div>
    <div class="panel-body">
        <p>Bienvenue sur le site LE KART AUTREMENT, ce site à pour but de référencer les classements du trophée UFOLEP Aquitaine. Vous y trouverez également des vidéos des différentes manches.</p>

        <h4>04/09/206 : 1ère manche Super Master - St Genis de Saintonge</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/B9sfF5URJ1k" frameborder="0" allowfullscreen></iframe>
        <h4>04/09/206 : Préfinale Super Master - St Genis de Saintonge</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/S_EMzqzs-uw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="panel-footer text-center">
    </div>
  </div>
</div>

<!-- <div class="col-md-12">
  <div class="text-center">
    <a class="btn btn-default" href="http://www.kart-ufolep-aquitaine.fr/">UFOLEP Kart Aquitaine</a>
    <a class="btn btn-default" href="http://www.askboienne.org/">ASK Boienne</a>
  </div>
</div> -->